.modalContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal {
    height: 90vh;
    width: 45vw;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
    transform: scale(0);
    animation: open-contact .3s ease-out forwards;
}
@keyframes open-contact {
    to {
        transform: scale(1)
    }
}

.modalContent {
    position: relative;
    transform: translateY(100%);
    animation: intro-form .3s ease-out forwards;
}

@keyframes intro-form {
    to {
        transform: translateY(0);
    }
}

[data-theme='dark'] .modal {
    background-color: rgb(33, 33, 33);
}

.modalOpen {
    overflow: hidden;
}

.close {
    cursor: pointer;
    position: absolute;
    top: -3rem;
    left: -1rem;
}

@media (max-width: 978px) {
    .modal {
        width: 95vw;
        height: 80vh;
    }
}