.spinner {
    border: 4px solid #ffffffc5;
    border-left-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 50%;
        
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }