.techContainer {
    height: 300px;
    margin-top: 3rem;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 4rem 0;
  }
  
  .swiperSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 18px;
    /* CenterSlide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiperSlide img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  