.techContainer {
    height: 300px;
    margin-top: 3rem;
}

.techContainer h3 {
  text-align: center;
  color: #eefbfe;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 4rem 0;
  }
  
  .swiperSlide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 18px;
    /* CenterSlide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(250, 250, 250, .5);
    border-radius: 25px;
  }

  [data-theme='dark'] .swiperSlide {
    background-color: rgba(3, 25, 29, 0.5);
  }
  
  .swiperSlide img {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .swiper {
    margin-left: auto;
    margin-right: auto;
  }
  
  @media (max-width:970px) {

    .swiperSlide img {
      display: block;
      width: 80px;
      height: 80px;
      object-fit: cover;
    }
  }