.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  user-select: none;
}
.global {
  color: rgb(2, 60, 104);
  font-size: 1.8rem;
  cursor: pointer;
}

[data-theme="dark"] .global {
  color: rgb(0, 145, 255);
}

.linksContainer {
  position: absolute;
  padding: 10px;
  min-width: 100px;
  background-color: rgb(81, 139, 183);
  top: 105%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: .5rem;
}

.flag {
  filter: drop-shadow(0 0 15px rgba(0,0,0, .5));
}

@media (max-width: 970px) {
  .linksContainer {
    width: 4rem;
    height: 5rem;
    gap: 1rem;
  }
  .linksContainer a {
    padding-left: 0;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
}

[data-theme="dark"] .linksContainer {
  background-color: rgb(2, 60, 104);
}

.linksContainer a {
  z-index: 50;
  color: #fff;
  width: 90%;
  text-align: center;
  padding: 0 0.5rem;
  user-select: none !important;
}

.active {
  border-left: 3px solid rgb(236, 189, 102);
  display: flex;
  align-items: center;
  gap: 4px;
}

.inactive {
  border-left: 2px solid transparent;
  display: flex;
  align-items: center;
  gap: 4px;
}

.linksContainer a:hover {
  color: rgb(236, 189, 102);
}
