.sectionLeft {
    width: 50%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: .5rem;
}

.heyTitle {
    font-size: 7.4rem;
    font-weight: 900;
    background-image: linear-gradient(60deg, rgba(73,21,2,1) 0%, rgba(38,45,233,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nameTitle {
    font-size:3rem;
    font-weight: 900;
    background-image: linear-gradient(60deg, rgba(73,21,2,1) 0%, rgba(38,45,233,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

[data-theme='dark'] .heyTitle {
    background-image: linear-gradient(60deg, rgb(78, 12, 122) 0%, rgb(22, 240, 138) 100%);
}
[data-theme='dark'] .nameTitle {
    background-image: linear-gradient(60deg, rgb(78, 12, 122) 0%, rgb(22, 240, 138) 100%);
}

.lineContainer {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    overflow: hidden;
}

.line {
    width: 100%;
    height: 100%;
    background-color:rgb(252, 165, 3);
    animation: intro-line 1s linear;
}

[data-theme='dark'] .line {
    background-color: rgb(80, 140, 243);
}

@keyframes intro-line {
    from {
        transform: translate(-100%);
    } to {
        transform: translateX(0);
    }
}

.lineRight {
    width: 100%;
    height: 100%;
    background-color:rgb(252, 165, 3);
    animation: intro-line-right 1s linear;
}
[data-theme='dark'] .lineRight {
    background-color: rgb(80, 140, 243);
}

@keyframes intro-line-right {
    from {
        transform: translate(100%);
    } to {
        transform: translateX(0);
    }
}

.descriptionHeader {
    text-transform: uppercase;
    font-style: oblique;
}
.description {
    font-size: 1rem;   
    text-align: justify; 
}

.sectionRight {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boobleBackLeft {
    position: absolute;
    background-color: rgb(232, 184, 111);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top:50%;
    transform: translateY(-20%);
    left: 20%;
}

[data-theme='dark'] .boobleBackLeft {
    background-color: rgb(156, 97, 212);
}

.boobleBackRight {
    position: absolute;
    background-color: rgb(156, 97, 212);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    top:50%;
    transform: translateY(-60%);
    right: 20%;
}

[data-theme='dark'] .boobleBackRight {
    background-color: rgb(232, 184, 111);
}

.sectionRight .image {
    filter: sepia(.5);
    z-index: 5;
}

[data-theme='dark'] .image {
    filter: grayscale();
}