.mainContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.resumeContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgb(27, 27, 27);
  display: flex;
  flex-direction: column;
  align-items: center;
}

[data-theme="dark"] .resumeContainer {
  background: rgb(224, 224, 224);
}

.actionsContainer {
  position: absolute;
  top: 1rem;
  right: 9rem;
  z-index: 10;
  display: flex;
  gap: 1rem;
}

.backButton {
  font-weight: 500;
  background-color:rgb(12, 118, 83);
  padding: 0.3rem 1rem;
  text-align: center;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
[data-theme="dark"] .backButton {
  background-color:rgb(2, 12, 30);
  color: #cbd5e0;
}

.downloadButton {
  display: none;
  font-weight: 500;
  background-color:rgb(12, 118, 83);
  padding: 0.3rem 1rem;
  text-align: center;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  border: none;
  transition: 0.3s ease-in-out;
}
[data-theme="dark"] .downloadButton {
  background-color:rgb(2, 12, 30);
  color: #cbd5e0;
}

@media (max-width: 768px) {
  .actionsContainer {
    right: 50%;
    transform: translateX(50%);
    top: 1rem;
    width: 100%;
    justify-content: center;
  }
  .backButton {
    font-size: 0.8rem;
    width: fit-content;
  }

  .downloadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    font-size: 0.8rem;
    width: fit-content;
  }
}