@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Vollkorn:wght@600&display=swap');
:root {
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16ff1615 0deg,
    #08ff9c24 55deg,
    #54ffcf18 120deg,
    #00ffd533 160deg,
    transparent 360deg
  );
  --secondary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );


  --heyTitleFontSize: 6.3rem; 
  --heyTitleFontSize1200: 5.8rem; 
  --heyTitleFontSize1100: 5.5rem; 
  --heyTitleFontSize540: 4.7rem; 

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth!important;
  }

body {
  color: #323232;
  background-color: #eefbfe;
  overflow-x: hidden;
  font-family: 'Ubuntu', sans-serif !important;
}

[data-theme='dark'] body {
  color: #e5e1e1;
  background-color: #041d22;
}

a {
  text-decoration: none;
  color: #323232;
}

[data-theme='dark'] a {
  color: #fff;
}

body::-webkit-scrollbar {
  width: 7px;     /* Tamaño del scroll en vertical */
  height: 7px;    /* Tamaño del scroll en horizontal */

}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
body::-webkit-scrollbar-thumb {
  background: #3755c4b0;
  border-radius: 4px;
}
[data-theme='dark'] body::-webkit-scrollbar-thumb {
  background: #045b6d9a;
  border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgba(232, 184, 111, .7);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

[data-theme='dark'] body::-webkit-scrollbar-thumb:hover {
  background: rgb(118, 83, 151, .7);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
  background-color: rgb(118, 83, 151, .7);
}

[data-theme='dark'] body::-webkit-scrollbar-thumb:active {
  background-color: rgba(232, 184, 111, .7);
}


/* Ponemos un color de fondo y redondeamos las esquinas del track */
body::-webkit-scrollbar-track {
  background: #ffffff;
}

[data-theme='dark'] body::-webkit-scrollbar-track {
  background: #20202dfb;
}


.EmojiPickerReact .epr-search-container .epr-icn-search  {
  left: auto !important;
  right: 8px !important;
  top: 50% !important;
  transform: translateY(-58%) !important;
}