* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #323232;
  background-color: #eefbfe;
}

[data-theme='dark'] body {
  color: #e5e1e1;
  background-color: #041d22;
}

a {
  text-decoration: none;
  color: #323232;
}

[data-theme='dark'] a {
  color: #fff;
}