.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modalImage {
  max-width: 95%;
  max-height: 80%;
  border: 2px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: relative;
  margin: 0 auto;
  object-fit: cover;
  cursor: pointer;
}
.modalContent:hover .close {
  opacity: 1;
}

.close {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  background-color: rgb(230, 169, 169);
  width: 2.2rem;
  height: 2.2rem;
  padding-bottom: 0.3rem;
  border-radius: 50%;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 768px) {
  .close {
    opacity: 1;
    position: absolute;
    top: 150px;
  }
}
