.mainContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(118, 83, 151);
  position: relative;
  padding-top: 200px;
  padding-bottom: 500px;
  position: relative;
  margin: 0 auto;
}

[data-theme="dark"] .mainContainer {
  background-color: #05424e;
}
.title {
  position: absolute;
  right: 6rem;
  top: 9rem;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.3px;
  font-size: 3.8rem;
  z-index: 50;
}

/* HEADER */

.header {
  display: flex;
  width: 95%;
  margin-left: 3rem;
}
.titleProyectContainerSelect {
  background-color: rgb(227, 205, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 16rem;
  border-radius: 15px 15px 0 0;
  margin-top: 5rem;
  cursor: pointer;
  border-top: 4px solid rgb(118, 83, 151);
  transition: 0.3s ease-in-out;
  margin-right: 1px;
}
[data-theme="dark"] .titleProyectContainerSelect {
  background-color: rgb(156, 127, 183);
  border-top: 4px solid #05424e;
}

.titleProyectContainerSelect:hover {
  background-color: #eefbfe;
  border-bottom: 0;
}
[data-theme="dark"] .titleProyectContainerSelect:hover {
  background-color: #041d22;
  border-bottom: 0;
}
.titleProyectContainerSelect:hover .titleProyect {
  font-size: 1.7rem;
}

.selectedTab {
  background-color: #eefbfe;
  border: 4px solid rgb(232, 184, 111);
  border-bottom: 0;
}
[data-theme="dark"] .selectedTab {
  background-color: #041d22;
  border: 4px solid rgb(118, 83, 151);
  border-bottom: 0;
}
.selectedTab .titleProyect {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.7rem;
}
.titleProyect {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}

/* PROYECT CONTAINER */

.proyectsContainer {
  margin: 0 auto;
  width: 95%;
  min-height: 80vh;
  background-color: #eefbfe;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 35px rgba(145, 171, 177, 0.463);
}
.descriptionContainer p {
  width: 80%;
  line-height: 1.4
}

[data-theme="dark"] .proyectsContainer {
  background-color: #041d22;
  box-shadow: 10px 10px 35px rgba(13, 32, 37, 0.42);
}

/* .swiperImage {
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 10px 10px 35px rgba(118, 83, 151, 0.338);
  object-fit: cover;
} */

[data-theme="dark"] .swiperImage {
  box-shadow: 10px 10px 35px rgba(23, 88, 103, 0.409);
}

.waveTop {
  position: absolute;
  top: 0;
  z-index: 1;
}


[data-theme="dark"] .wavePath {
  fill: #041d22;
}

.descriptionContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 4rem;
  width: 100%;
}

.description {
  margin: 0 auto;
}

.buttonContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttonLink {
  width: 350px;
  border: none;
  height: 2.5rem;
  background-color: #3755c4;
  color: #eefbfe;
  padding: 0.3rem 1.5rem;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
  align-items: center;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
  margin: 0 auto;
  cursor: pointer;
}



[data-theme="dark"] .buttonLink {
  background-color: #175867;
}
.buttonLink:hover {
  background-color: #0f1457;
  font-size: 1.25rem;
}

[data-theme="dark"] .buttonLink:hover {
  background-color: rgb(78, 12, 122);
}
@media (min-width: 1400px) {
  .mainContainer {
    padding-top: 300px;
    padding-bottom: 600px;
  }

  .title {
    right: 12rem;
    top: 12rem;
  }

  .header {
    display: flex;
    margin-left: 12%;
  }

  .proyectsContainer {
    width: 90%;
    max-width: 1500px;
    min-height: 70vh;
  }
  .swiperImage {
    border-radius: 5px;
    margin-left: 4rem;
    box-shadow: 10px 10px 35px rgba(118, 83, 151, 0.338);
    object-fit: cover;
  }
  
  .wave {
    position: absolute;
    bottom: -2px;
    z-index: 2;
  }
}

@media (max-width: 800px) {
  .mainContainer {
    padding-bottom: 260px;
  }
  .title {
    right: 50%;
    transform: translateX(50%);
    font-size: 3rem;
    top: 8rem;
  }
  .header {
    margin-left: 1rem;
  }

  .titleProyectContainerSelect {
    height: 1.5rem;
    width: 6.8rem;
    border-radius: 7px 7px 0 0;
    margin-top: 3rem;
    cursor: pointer;
    border-top: 4px solid rgb(118, 83, 151);
    margin-right: 0.9px;
  }
  [data-theme="dark"] .titleProyectContainerSelect {
    background-color: rgb(156, 127, 183);
    border-top: 4px solid #05424e;
  }

  .selectedTab {
    border: 2px solid rgb(232, 184, 111);
    border-bottom: 0;
  }

  [data-theme="dark"] .selectedTab {
    background-color: #041d22;
    border: 2px solid rgba(118, 83, 151);
    border-bottom: 0;
  }
  .selectedTab .titleProyect {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9rem !important;
  }
  .titleProyect {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.6rem !important;
    transition: 0.3s ease-in-out;
  }
  .proyectsContainer {
    width: 97%;
    min-height: 62vh;
  }
  .descriptionContainer {
    flex-direction: column;
    margin-top: -2rem;
    padding: 0rem;
  }
  .buttonContainer {
    width: 80%;

  }
  .descriptionContainer p {
    line-height: 1.2;
    width: 100%;

  }
  .swiperImage {
    max-width: 95%;
    max-height: 190px;
    margin-left: 10px;
  }
  .prevButton,
  .nextButton {
    display: none;
  }
  .buttonLink {
    width: 100%;
    transition: all 0.5s ease-in-out;
    font-size: 1.1rem;
  }
  .buttonLink:hover {
    background-color: #3755c4;
    font-size: 1.1rem;
  }

  [data-theme="dark"] .buttonLink:hover {
    background-color: #175867;
  }
}

@media (max-width: 500px) {
  .titleProyectContainerSelect {
    height: 1.5rem;
    width: 5.9rem;
  }
  .buttonLink {
    font-size: .9rem;
    margin: 0 auto;
    cursor: pointer;
  }
}
