.mainContainer {
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(118, 83, 151);
    position: relative;
    padding-top: 200px;
    padding-bottom: 300px;
    position: relative;
    margin: 0 auto;
}

[data-theme='dark'] .mainContainer {
    background-color: #05424e;
}
.title{
    position: absolute;
    right: 6rem;
    top: 9rem;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.3px;
    font-size: 3.8rem;
    z-index: 990;
}


/* HEADER */

.header {
  display: flex;
  width: 95%;
  margin-left: 3rem;
}
.titleProyectContainerSelect {
  background-color: rgb(227, 205, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 16rem;
  border-radius: 15px 15px 0 0;
  margin-top: 5rem;
  cursor: pointer;
  border-top: 4px solid rgb(118, 83, 151);
  margin-left: 1px;
  transition: .3s ease-in-out;
}
[data-theme="dark"] .titleProyectContainerSelect {
    background-color: rgb(156, 127, 183);
    border-top: 4px solid #05424e;
    
}

.titleProyectContainerSelect:hover {
  background-color:#eefbfe;;
  border-bottom: 0;
}
[data-theme="dark"] .titleProyectContainerSelect:hover {
  background-color: #041d22;
  border-bottom: 0;
}
.titleProyectContainerSelect:hover .titleProyect {
  font-size: 1.7rem;
}

.selectedTab {
  background-color: #eefbfe;
  border: 4px solid rgb(232, 184, 111);
  border-bottom: 0;
}
[data-theme="dark"] .selectedTab {
  background-color: #041d22;
  border: 4px solid rgb(118, 83, 151);
  border-bottom: 0;
}
.selectedTab .titleProyect {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.7rem;
}
.titleProyect {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  transition: .3s ease-in-out;
}

/* PROYECT CONTAINER */

.proyectsContainer {
  margin: 0 auto;
  width: 95%;
  background-color: #eefbfe;
  border-radius: 10px;
  padding-bottom: 50px;
  box-shadow: 10px 10px 35px rgba(145, 171, 177, 0.463);
}

[data-theme="dark"] .proyectsContainer {
  background-color: #041d22;
  box-shadow: 10px 10px 35px rgba(13, 32, 37, 0.42);
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 3rem;
}

.swiperImage {
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 10px 10px 35px rgba(118, 83, 151, 0.338);
}
[data-theme='dark'] .swiperImage {
  box-shadow: 10px 10px 35px rgba(23, 88, 103, 0.409);
}

.wave {
  position: absolute;
  bottom: 0;
  z-index: 2;
}
[data-theme='dark'] .wavePath {
  fill: #041d22;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
    
  .buttonLink {
    width: 50%;
    height: 3rem;
    background-color: #3755c4;
    color: #eefbfe;
    padding: .3rem 1rem;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    font-size: 1.2rem;
  }
  [data-theme='dark'] .buttonLink  {
    background-color: #175867;
  }
  .buttonLink:hover {
    background-color: #0f1457;
    font-size: 1.6rem;
  }

  [data-theme='dark'] .buttonLink:hover {
    background-color: rgb(78, 12, 122);
  }


  @media (max-width: 420px) {
    .mainContainer {
      min-height: 80vh;
  }
  .title{
    position: absolute;
    right: 3.7rem;
    top: 8rem;
  }
    .header {
      margin-left: 1rem;
    }
    .titleProyectContainerSelect {
      height: 1.5rem;
      width: 7.4rem;
      border-radius: 10px 10px 0 0;
      margin-top: 5rem;
      cursor: pointer;
      border-top: 4px solid rgb(118, 83, 151);
      margin-left: .9px;
    }
    [data-theme="dark"] .titleProyectContainerSelect {
        background-color: rgb(156, 127, 183);
        border-top: 4px solid #05424e;
        
    }
    
    .selectedTab {
      border: 2px solid rgb(232, 184, 111);
      border-bottom: 0;
    }

    [data-theme="dark"] .selectedTab {
      background-color: #041d22;
      border: 2px solid rgba(118, 83, 151);
      border-bottom: 0;
    }
    .selectedTab .titleProyect {
      font-family: 'Ubuntu', sans-serif;
      font-size: .9rem !important;
    }
    .titleProyect {
      font-family: 'Ubuntu', sans-serif;
      font-size: .6rem !important;
      transition: .3s ease-in-out;
    }
    .proyectsContainer {
      width: 98%;
    }
    .swiperImage{
      max-width: 95%;
      max-height: 190px;
      margin-left: 10px;
    }

    .buttonLink {
      width: 80%;
      height: 2.3rem;
      padding: .3rem 1rem;
      border-radius: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .5s ease-in-out;
      font-size: 1rem;
    }
  }