.mainContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: rgb(118, 83, 151);
  position: relative;
  /* padding-top: 200px; */
  padding-bottom: 300px;
  position: relative;
  margin: 0 auto;
}

[data-theme="dark"] .mainContainer {
  background-color: #05424e;
}
.title {
  position: absolute;
  right: 6rem;
  top: 13rem;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 1.3px;
  font-size: 3rem;
  z-index: 50;
}

/* HEADER */

.header {
  display: flex;
  width: 95%;
  margin-left: 3rem;
}
.titleProjectContainerSelect {
  background-color: rgb(227, 205, 172);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 16rem;
  border-radius: 15px 15px 0 0;
  margin-top: 5rem;
  cursor: pointer;
  border-top: 4px solid rgb(118, 83, 151);
  transition: 0.3s ease-in-out;
  margin-right: 1px;
}
[data-theme="dark"] .titleProjectContainerSelect {
  background-color: rgb(156, 127, 183);
  border-top: 4px solid #05424e;
}

.titleProjectContainerSelect:hover {
  background-color: #eefbfe;
  border-bottom: 0;
}
[data-theme="dark"] .titleProjectContainerSelect:hover {
  background-color: #041d22;
  border-bottom: 0;
}

.selectedTab {
  background-color: #eefbfe;
  border: 4px solid rgb(232, 184, 111);
  border-bottom: 0;
}
[data-theme="dark"] .selectedTab {
  background-color: #041d22;
  border: 4px solid rgb(118, 83, 151);
  border-bottom: 0;
}
.selectedTab .titleProject {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.6rem;
}
.titleProject {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
}

/* PROjECT CONTAINER */

.projectsContainer {
  margin: 0 auto;
  width: 95%;
  min-height: 80vh;
  background-color: #eefbfe;
  border-radius: 10px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 35px rgba(145, 171, 177, 0.463);
}
.descriptionContainer p {
  width: 80%;
  line-height: 1.4
}

[data-theme="dark"] .projectsContainer {
  background-color: #041d22;
  box-shadow: 10px 10px 35px rgba(13, 32, 37, 0.42);
}

[data-theme="dark"] .swiperImage {
  box-shadow: 10px 10px 35px rgba(23, 88, 103, 0.409);
}


[data-theme="dark"] .wavePath {
  fill: #041d22;
}

.descriptionContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 4rem;
  width: 100%;
}

.description {
  margin: 0 auto;
}

.buttonContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.buttonLink {
  width: 350px;
  border: none;
  height: 2.5rem;
  background-color:rgb(12, 118, 83);
  color: #eefbfe;
  padding: 0.3rem 1.5rem;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
  align-items: center;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
  margin: 0 auto;
  cursor: pointer;
}


.buttonLink:hover {
  background-color: #0a6748;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

[data-theme="dark"] .buttonLink {
  background-color:rgba(18, 86, 138, 0.982);
}

[data-theme="dark"] .buttonLink:hover {
  background-color: rgba(17, 68, 107, 0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1400px) {
  .mainContainer {
    /* padding-top: 300px; */
    /* padding-bottom: 400px; */
  }

  .title {
    right: 14rem;
    top: 17rem;
    font-size: 3.8rem;
  }

  .header {
    display: flex;
    margin-left: 12%;
    max-width: 1200px;
  }

  .projectsContainer {
    width: 90%;
    max-width: 1500px;
    min-height: 70vh;
  }


}

@media (max-width: 800px) {
  .mainContainer {
    padding-bottom: 260px;
  }
  .title {
    position: static;
    font-size: 24px;
    text-align: center;
  }
  .header {
    margin-left: 1rem;
  }

  .titleProjectContainerSelect {
    height: 1.5rem;
    width: 6.8rem;
    border-radius: 7px 7px 0 0;
    margin-top: 3rem;
    cursor: pointer;
    border-top: 4px solid rgb(118, 83, 151);
    margin-right: 0.9px;
  }
  [data-theme="dark"] .titleProjectContainerSelect {
    background-color: rgb(156, 127, 183);
    border-top: 4px solid #05424e;
  }

  .selectedTab {
    border: 2px solid rgb(232, 184, 111);
    border-bottom: 0;
  }

  [data-theme="dark"] .selectedTab {
    background-color: #041d22;
    border: 2px solid rgba(118, 83, 151);
    border-bottom: 0;
  }
  .selectedTab .titleProject {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.9rem !important;
  }
  .titleProject {
    font-family: "Ubuntu", sans-serif;
    font-size: 0.6rem !important;
    transition: 0.3s ease-in-out;
  }
  .projectsContainer {
    width: 97%;
    min-height: 62vh;
  }
  .descriptionContainer {
    flex-direction: column;
    margin-top: -2rem;
    padding: 0rem;
  }
  .buttonContainer {
    width: 80%;

  }
  .descriptionContainer p {
    line-height: 1.2;
    width: 100%;

  }
  .prevButton,
  .nextButton {
    display: none;
  }
  .buttonLink {
    width: 100%;
    transition: all 0.5s ease-in-out;
    font-size: 1.1rem;
  }
  .buttonLink:hover {
    background-color: #3755c4;
    font-size: 1.1rem;
  }

  [data-theme="dark"] .buttonLink:hover {
    background-color: #175867;
  }
}

@media (max-width: 500px) {
  .titleProjectContainerSelect {
    height: 1.5rem;
    width: 5.9rem;
  }
  .buttonLink {
    font-size: .9rem;
    margin: 0 auto;
    cursor: pointer;
  }
}
