.mainContainer {
    min-height: 100vh;
}
.title {
    text-align: center;
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 2rem;
}
.calendlyContainer {
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 35px rgba(13, 32, 37, 0.22);
}
[data-theme="dark"] .calendlyContainer {
    box-shadow: 5px 5px 35px rgba(145, 171, 177, 0.33)
  }
.calendly {
    height: 400px;
    width: 40vw;
    background-color: #fff;
}

@media (max-width: 768px) {
    .mainContainer {
        min-height: 70vh;
    }
    .title {
        padding-top: 2rem;
        font-size: 1.5rem;
    }
    .calendly {
      width: 90vw; /* Ancho del 90vw en dispositivos móviles */
      height: 360px;
    }
  }