.mainContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 2rem;
  font-family: "Ubuntu", sans-serif;
  padding-bottom: 2rem;
}
.calendlyContainer {
  background-color: #eefbfe;
  border-radius: 25px;
  width: fit-content;
  overflow: hidden;
  box-shadow: 5px 5px 35px rgba(13, 32, 37, 0.22);
}
[data-theme="dark"] .calendlyContainer {
  box-shadow: 5px 5px 35px rgba(145, 171, 177, 0.33);
  background-color: #041d22;
}
.calendly {
  height: 390px;
  width: 40vw;
  background-color: #fff;
}

.waveTop {
  width: 100vw;
}
.wavePath {
  fill: rgb(118, 83, 151);
}

[data-theme="dark"] .wavePath {
  fill: #05424e;
}

@media (min-width: 1400px) {
  .calendly {
    height: 590px;
    width: 40vw;
    background-color: #fff;
  }
}

@media (max-width: 768px) {
  .mainContainer {
    min-height: 70vh;
  }
  .title {
    padding-top: 2rem;
    font-size: 1.5rem;
  }
  .calendly {
    width: 90vw; /* Ancho del 90vw en dispositivos móviles */
    height: 360px;
  }
}
