.downloadResumeButton {
  margin: 0;
  font-weight: 500;
  background-color:rgb(12, 118, 83);
  width: 5rem;
  padding: 0.3rem 0.5rem;
  text-align: center;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  gap: 0.5rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.downloadResumeButton:hover {
  background-color: #0a6748;
}
[data-theme="dark"] .downloadResumeButton {
  background-color: rgba(18, 86, 138, 0.982);
}

[data-theme="dark"] .downloadResumeButton:hover {
  background-color: rgba(17, 68, 107, 0.98);
}

.icon {
  color:white;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .downloadResumeButton {
    margin: 0;
    font-weight: 500;
    background-color: #064d37a8;
    padding: 0.5rem 0.5rem;
    width: 43vw;
    text-align: center;
    border-radius: 20px;
    font-family: "Ubuntu", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  [data-theme="dark"] .downloadResumeButton {
    background-color: rgba(1, 4, 21, 0.495);
  }
  .icon {
    color: white;
    font-size: 1.3rem;
  }
}
