
.arrowScroll {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 3rem;
  color: #1a1a46;
  cursor: pointer;
  animation: l9 0.7s infinite linear alternate;
  position: absolute;
  bottom: 15px;
  z-index: 2;
}

.arrowScroll:hover {
  animation-play-state: paused;
}

[data-theme="dark"] .arrowScroll {
  color: #b1e2ec;
}
@keyframes l9 {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

@media (max-width: 970px) {
  .arrowScroll {
    bottom: 50px;
  }
}

@media (max-width: 400px) {
  .arrowScroll {
    bottom: 0;
  }
}
