.boobleBackLeft {
    position: absolute;
    background-color: rgb(232, 184, 111);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-20%);
    left: 20%;
    z-index: -1;
  }
  
  [data-theme="dark"] .boobleBackLeft {
    background-color: rgb(156, 97, 212);
  }
  
  .boobleBackRight {
    position: absolute;
    background-color: rgb(156, 97, 212);
    width: 220px;
    height: 220px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-60%);
    right: 20%;
    z-index: -1;
  }
  
  [data-theme="dark"] .boobleBackRight {
    background-color: rgb(232, 184, 111);
  }
  
  .image {
    filter: sepia(.5);
    z-index: 5;
  }
  
  [data-theme="dark"] .image {
    filter: grayscale();
  }

  @media (max-width: 1200px) {
    .boobleBackLeft {
        position: absolute;
        background-color: rgb(232, 184, 111);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-20%);
        left: 20%;
      }
  }

  @media (max-width: 540px) {
    .boobleBackLeft {
        position: absolute;
        background-color: rgb(232, 184, 111);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-20%);
        left: 20%;
      }
    
      .boobleBackRight {
        position: absolute;
        background-color: rgb(156, 97, 212);
        width: 130px;
        height: 130px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-60%);
        right: 25%;
      }
      .image {
        transform: scale(0.7);
      }
  }

  @media (max-width: 400px) {
    
      .boobleBackLeft {
        position: absolute;
        background-color: rgb(232, 184, 111);
        width: 110px;
        height: 110px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-60%) translateY(-5rem);
        left: 15%;
      }
    
      .boobleBackRight {
        position: absolute;
        background-color: rgb(156, 97, 212);
        width: 110px;
        height: 110px;
        border-radius: 50%;
        top: 50%;
        transform: translateY(-100%);
        right: 20%;
      }
      .image {
        transform: scale(0.6) translateY(-5rem);
      }
  }