.mainContainer {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.menuContent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menuIcon {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
.navBarLinks {
  display: flex;
  align-items: center;
  margin-right: 2rem;
  gap: 3rem;
  /* font-style: italic; */
}

.navBarLinks a {
  /* transform: rotate(-10deg); */
  font-weight: 500;
  padding-bottom: 0.4rem;
  overflow: hidden;
  position: relative;
}

.navBarLinks a:hover 
.underlined {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
  animation: intro 0.3s linear;
}

[data-theme="dark"] .navBarLinks a:hover 
.underlined {
  background-color: rgb(87, 151, 200);
}

.active {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: green;
  animation: intro 0.3s linear;
}
[data-theme="dark"] .active {
  background-color: rgb(87, 151, 200);
}

@keyframes intro {
  from {
    transform: translateX(-100%);
  }
}

.navBarSwitchers {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media (max-width: 970px) {
  .menuIcon {
    display: block;
  }

  .modalOpen {
    overflow: hidden;
}


  .menuContent {
    display: none;
  }
}

.filterBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  filter: blur(20rem) !important;
  transform: translateX(150%);
}
.menuContentToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  width: 60vw;
  height: 100vh;
  top: -9px;
  right: -22px;
  background-color: #ffffff;
  transform: translateX(100%);
  transition: 0.5s ease-in-out;
  padding-bottom: 2.5rem;
}

[data-theme="dark"] .menuContentToggle {
  background-color: rgb(34, 41, 79);
}

.close {
  color: #40455e;
  font-size: 2rem;
  position: absolute;
  left: 1rem;
  top: 2rem;
  cursor: pointer;
}

[data-theme="dark"] .close {
  color: #fff;
}

.navBarLinksToggle {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 6rem;
  gap: 3rem;
  /* font-style: italic; */
}

.navBarLinksToggle a {
  /* transform: rotate(-10deg); */
  font-weight: 500;
  background-color: #00ae7aa8;
  width: 43vw;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}
[data-theme="dark"] .navBarLinksToggle a {
  /* transform: rotate(-10deg); */
  font-weight: 500;
  background-color: rgba(67, 90, 220, 0.495);
  width: 43vw;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 20px;
}
.navBarSwitchersToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: absolute;
  top: 2rem;
  right: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.github,
.linkedin {
  color: rgb(63, 57, 79);
  font-size: 2rem;
}

[data-theme="dark"] .github {
  color: rgb(135, 122, 174);
}
[data-theme="dark"] .linkedin {
  color: rgb(135, 122, 174);
}

.footer {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.7rem;
}
